/* fix for avatar class */
div.post > .avatar{
	height:auto;
	background:transparent;
}

div.post .avatar .avatar{
	margin:0;
	background:transparent;
}

.avatar{
	border-radius: 0;
}

/* reset default styles */
#memberProfile .avatar{
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background:transparent;
}